
.miavion{
    text-align: center;
    background-color: aqua;
    height: 40px;
}

.contenedor {
    text-align: center;
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.social-icons li {
    margin-right: 10px;
}
  
.social-icons li:last-child {
    margin-right: 0;
}
  
.social-icons a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}
  
.social-icons a i {
    font-size: 20px;
}
  
.social-icons a i.fa-twitter {
    background-color: #1DA1F2;
}
  
.social-icons a i.fa-whatsapp {
    background-color: #25D366;
}
  
.social-icons a i.fa-facebook {
    background-color: #3B5998;
}

.label {
    color: white;
    padding: 8px;
}
  
.success {background-color: #04AA6D;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */
  
.card {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .myDiv {
    border: 5px outset rgb(11, 11, 11);
    background-color: lightblue;    
    text-align: center;
  }
